.note
  %h2.center 
    Aanmaken nieuw nieuwsitem
  .col
    = render "shared/flash_messages", obj: @news_item
  = form_for @news_item do |f|
    .row
      .col 
        = f.label :title, "Titel"
      .col  
        = f.text_field :title, { :placeholder => "verplicht" }
    .row
      .col 
        = f.label :body, "Bericht"
      .col
        = f.text_area :body, { :placeholder => "verplicht" }
    .row 
      .col
        = f.label :show, "Bericht publiceren"
        = f.check_box :show, { :value => "published", :checked => true }
      .col
        %button 
          = f.submit @news_item.new_record? ? "Bericht aanmaken" : "Bericht bijwerken"