!!!
%html(lang="nl")
  %head
    %title 
      Leen Verheyen
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    / Required meta tags
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body
    .container-md
      = render "shared/header"
      
      - flash.each do |name, msg|
        .row
          .flash-message.note.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
            %h6.center
              = msg

      %main
        = yield

      = render "shared/footer"
    = debug(params) if Rails.env.development? 
  