!!!
%html(lang="nl")
  %head
    %title 
      Leen Verheyen
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    / Required meta tags
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %link{ :rel => "apple-touch-icon", :sizes => "180x180", :href => "../apple-touch-icon.png" }
    %link{ :rel => "icon", :type => "image/png", :sizes => "32x32", :href => "../favicon-32x32.png" }
    %link{ :rel => "icon", :type => "image/png", :sizes => "16x16", :href => "../favicon-16x16.png" }
    %link{ :rel => "manifest", :href => "../site.webmanifest" }
    %link{ :rel => "mask-icon", :href => "../safari-pinned-tab.svg", :color => "#5bbad5" }
    %meta{ :name => "msapplication-TileColor", :content => "#da532c" }
    %meta{ :name => "theme-color", :content => "#ffffff" }

  %body
    .container-md
      = render "shared/header"
      
      - flash.each do |name, msg|
        .row
          .flash_message.note.col-md-8.offset-md-2.col-lg-6.offset-lg-3
            %h5.center
              = msg

      %main
        = yield

      = render "shared/footer"
    = debug(params) if Rails.env.development? 
  